main {
    justify-content: center;
    height: 75vh;
    max-width: 400px;
}

main > section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a.mt-signup {
    background-color: #C40;
	color: #FFF;
    padding: 16px;
    margin: 16px;
	border-radius: 5px;
	cursor: pointer;
}

a.mt-signup:hover, a.mt-signup:focus {
    background-color: #D62;
}

p.mt-hypeline {
    font-size: 20px;
    text-align: center;
    color: #555;
    margin: 16px 0px;
}