main {
	width: 100%;
	max-width: 640px;
}

form.mt-journal-addentry {
	background-color: #EFEFEF;
	margin: 16px 0;
	padding: 16px;

	display: flex;
	flex-direction: column;
}

form.mt-journal-addentry > * {
	margin: 4px 0;
}

.mt-journal-entries > section {
	padding: 16px;
}

.mt-journal-entries-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
}

.mt-journal-entries-pagination > button {
	border-radius: 0px;
	margin: 0 4px;
	padding: 8px;
	width: 32px;
	height: 32px;
	color: #C50;
	background-color: inherit;
	border: 1px #D62 solid;
}

.mt-journal-entries-pagination > button.mt-selected {
	color: #FFF;
	background-color: #D62;
}

.mt-journal-entries-pagination > button.mt-empty {
	cursor: default;
}

.mt-journal-entries-pagination > button:hover:not(.mt-selected, .mt-empty) {
	background-color: #FDB;
}

.mt-journal-entries > ul {
	margin: 16px 0;
	border-radius: 5px;
	box-shadow: 0 0 2px 2px #AAA;
	overflow: hidden;
}

.mt-journal-entries > ul > li {
	padding: 16px;

	display: flex;
	justify-content: space-between;
}

.mt-journal-entries > ul > li:nth-child(even) {
	background-color: #EFEFEF;
}

.mt-journal-entries > ul > li:hover {
	background-color: #FFF0C0;
}

.mt-journal-noentries > p {
	color: #888;
	font-size: 20px;
	text-align: center;
	padding: 8px;
}

.mt-journal-insights {
	color: #777;
}

.mt-journal-insights > ul > li {
	margin: 4px 0;
	text-align: center;
}

.mt-journal-insights .mt-journal-insights-highlight {
	font-size: 24px;
	color: #C50;
}

@media only screen and (min-width: 520px) {
	
	form.mt-journal-addentry {
		background-color: inherit;
		box-shadow: 0 0 2px 2px #AAA;
		border-radius: 5px;
	}

}